.main {
  max-height: 604px;
  background-image: url('../../../public/images/hero-mobile.svg');
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  top: 92px;
  background-color: #fff;
}

.main h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: 12px 0;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.socials {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0019fc;
  margin: 0;
}

.socialsIcons {
  color: #505f79;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  margin-top: 12px;
  gap: 15px;
}

.icons {
  color: #505f79;
  width: 30px;
  height: 30px;
}

@media only screen and (min-width: 800px) {
  .main {
    background-image: url('../../../public/images/hero-desktop.svg');
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5% 25% 8% 25%;
  }

  .main h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .description {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .socials {
    transition: transform 1s;
    margin-top: 12px;
  }

  .socials:hover {
    transform: scale(1.5);
  }
}
