.navMob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logoMob {
  text-decoration: none;
  padding: 10px 24px;
  height: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0019fc;
  flex: none;
  flex-grow: 0;
  margin: 0;
}

.hamburgerMob {
  margin: 10px 12px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  z-index: 20;
  color: #0019fc;
}

.navbar {
  display: flex;
  align-items: flex-start;
  padding: 8px;
}

.logoDsk {
  text-decoration: none;
  padding: 10px 24px;
  height: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0019fc;
  flex: none;
  flex-grow: 0;
  margin: 0;
  animation-duration: 2s;
  animation-name: rotate-logo;
  margin-left: 142px;
}

.navDsk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
}

.navlistDsk {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 32px;
  list-style-type: none;
  margin-right: 142px;
}

.navlistItemDsk {
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  transition: all 0.3s;
}

@keyframes rotate-logo {
  from {
    transform: scale(2);
  }

  50% {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}
